.headerNav a:hover
{
    animation-duration: 500ms;
    animation-name: slidein;
    padding: 5px;
}

@keyframes slidein 
{
    25%
    {
        border: 2px solid skyblue;
        border-radius: 80px;
        border-top-color: whitesmoke;
    }

    50% 
    {
        border: 2px solid skyblue;
        border-radius: 80px;
        border-left-color: whitesmoke;
    }

    75%
    {
        border: 2px solid skyblue;
        border-radius: 80px;
        border-bottom-color: whitesmoke;
    }

    100%
    {
        border: 2px solid skyblue;
        border-radius: 80px;
        border-right-color: whitesmoke;
    } 
}